.bingoTable {
  width: 1000px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  /* border: 3px solid black */
  border-collapse: collapse;
  /* table-layout: fixed; */
  font-family: Arial, Helvetica, sans-serif
}

.bingoTable th {
  font-size: 40px;
}

.bingoTable td {
  width: 200px;
  height: 200px;
  font-size: 2em;
  border: 2px solid black;
}

.equationTable {
  text-align: center;
  background-color: white;
  border-collapse: collapse;
}

.equationTable th {
  text-align: center;
  font-size: 14px;
}

.equationTable td {
  vertical-align: middle;
  border: 0px solid black;
}

body {
  background-color: white;
}

* {
  box-sizing: border-box;
}

.row {
  overflow: hidden;
}

.floatLeft {
  float: left;
  /* width: 15%; */
  padding-right: 1em;;
}

.floatRight {
  float: left;
  /* width: 50%; */
}

.del-btn {
  height: 20px;
  line-height: 20px;
  width: 20px;
  margin: 0 auto;
  padding: 0px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;

  background-color: crimson;
  color: white;

  font-size: 1em;
  font-weight: bold;

  border-radius: 20%;;
  border-width: 0;
  padding: 0px 0px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;

  cursor: pointer;
}

.del-btn:hover {
  background-color: darkred;
}

@media print {
  * {
    display: none;
  }
  #printableTable {
    display: block;
  }
}